
.loginBG {
  display: block;
  background-image: url(https://images.unsplash.com/photo-1613469663063-0874723c644e?q=80&w=1870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loginWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loginBlur { 
  backdrop-filter: blur(15px) !important;
}